.contact-card {
    text-align: center;

    .p-avatar {
        margin-bottom: 1rem;
    }

    .p-card-content {
        padding-top: 0.5rem;
    }

    span {
        font-weight: bold;
        font-size: 1.2rem;
    }
}