.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 1rem;
}

.add-button {
    display: flex;
    margin-right: 1rem;
}

.functional-section {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .search-button {
        display: flex;
        margin-left: 1rem;
    }

    .search-input {
        border-radius: 2rem;
    }
}

.contact-card {
    min-width: 17rem;

    .avatar-image {
        margin-right: 1rem;
    }

    span {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .contact-buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    } 
}

.flags-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
  
.flag {
    width: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s;
}
  
.flag:hover {
    transform: scale(1.1);
}

.pagination-section {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .contact-card {
        width: 23rem;
        margin: 0 auto;
    }
}

:host ::ng-deep .p-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .p-card-body .p-card-content {
    padding: 0;
}