<div class="functional-section">
    <p-button class="add-button" (click)="show()">
        <i class="pi pi-user-plus"></i>
    </p-button>
    <input type="text" pInputText [(ngModel)]="searchValue" class="search-input"/>
    <p-button class="search-button" (click)="search()">
        <i class="pi pi-search"></i>
    </p-button>
</div>

<div class="contact-container">
    <div *ngFor="let contact of contacts"  class="contact-card">
        <p-card>
            <ng-template pTemplate="header">
                <p-avatar image="https://www.gravatar.com/avatar?d=mp" size="large" shape="circle" class="p-mr-2 avatar-image"></p-avatar>
                <span>{{ contact.firstName }} {{ contact.lastName }}</span>
            </ng-template>
            <div class="p-card-content">
                <p><strong>Email:</strong> {{ contact.email }}</p>
                <p><strong>Phone:</strong> {{ contact.numberPhone }}</p>
            </div>
            <ng-template pTemplate="footer">
                <div class="contact-buttons">
                    <p-button (click)="delete($event, contact.id)" icon="pi pi-trash"/>
                    <p-button icon="pi pi-user-edit" />
                </div>
            </ng-template>
        </p-card>
    </div>
</div>
<p-toast />
<p-confirmDialog />