.contact-card {
    text-align: center;

    .p-card-content {
        padding-top: 0.5rem;
    }

    span {
        font-weight: bold;
        font-size: 1.2rem;
    }
}

:host ::ng-deep .p-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

:host ::ng-deep .p-card-body .p-card-content {
    padding: 0;
}

.contact-container {
    width: 25rem;
}