<p-toast />
<p-card header="Register">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-field p-fluid">
            <label for="firstName">{{'firstname_field' | translate}}</label>
            <input id="firstName" pInputText formControlName="firstName" placeholder="{{'firstname_field_placeholder' | translate}}" />
            @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
                <p-message severity="error" text="{{'firstname_field_required' | translate}}"></p-message>
            }
        </div>
        <div class="p-field p-fluid">
            <label for="lastName">{{'lastname_field' | translate}}</label>
            <input id="lastName" type="lastName" pInputText formControlName="lastName" placeholder="{{'lastname_field_placeholder' | translate}}" />
            @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
                <p-message severity="error" text="{{'lastname_field_required' | translate}}"></p-message>
            }
        </div>
        <div class="p-field p-fluid">
            <label for="email">Email</label>
            <input id="email" pInputText formControlName="email" placeholder="{{'email_field_placeholder' | translate}}" />
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                <p-message severity="error" text="{{'email_field_invalid' | translate}}"></p-message>
            }
            @else if (registerForm.get('email')?.hasError('emailTaken')) {
                <p-message severity="error" text="{{'email_field_taken' | translate}}"></p-message>
            }
        </div>
        <div class="p-field p-fluid">
            <label for="password">{{'password_field' | translate}}</label>
            <input id="password" type="password" pInputText formControlName="password" placeholder="{{'password_field_placeholder' | translate}}" />
            @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                <p-message severity="error" text="{{'password_field_required' | translate}}"></p-message>
            }
        </div>
        <div class="p-field p-fluid">
            <label for="confirmPassword">{{'confirm_password_field' | translate}}</label>
            <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword"
                placeholder="{{'password_field_confirm' | translate}}" />
                @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
                    <p-message severity="error" text="{{'password_field_match' | translate}}"></p-message>
                }
        </div>
        <div class="p-field p-fluid">
            <input type="file" (change)="onFileSelect($event)" class="custom-file-input"/>
        </div>
        <div class="register-button">
            <button pButton label="{{'register' | translate}}" type="submit" class="p-button-error"
                [disabled]="registerForm.invalid"></button>
        </div>
    </form>
</p-card>