<p-toast />
<p-card header="Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-field p-fluid">
            <label for="email">Email</label>
            <input id="email" pInputText formControlName="email" placeholder="Enter your email" />
            @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                <p-message severity="error" text="Invalid email"></p-message>
            }
        </div>
        <div class="p-field p-fluid">
            <label for="password">Password</label>
            <input id="password" type="password" pInputText formControlName="password" placeholder="Enter your password" />
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                <p-message severity="error" text="Password is required"></p-message>
            }
        </div>
        <div class="login-button">
            <button pButton label="Login" type="submit" class="p-button-success" [disabled]="loginForm.invalid"></button>
        </div>
    </form>
</p-card>