<form [formGroup]="updateContactForm" (ngSubmit)="onSubmit()">
    <div class="p-field p-fluid">
        <label for="firstName">{{'firstname_field' | translate}}</label>
        <input id="firstName" pInputText formControlName="firstName" placeholder="{{'firstname_field_placeholder' | translate}}" />
        @if(updateContactForm.get('firstName')?.invalid && updateContactForm.get('firstName')?.touched) {
            <p-message severity="error" text="{{'firstname_field_required' | translate}}"></p-message>
        }
    </div>
    <div class="p-field p-fluid">
        <label for="lastName">{{'lastname_field' | translate}}</label>
        <input id="lastName" pInputText formControlName="lastName" placeholder="{{'lastName_field_placeholder' | translate}}" />
        @if (updateContactForm.get('lastName')?.invalid && updateContactForm.get('lastName')?.touched) {
            <p-message severity="error" text="{{'lastname_field_required' | translate}}"></p-message>
        }
    </div>
    <div class="p-field p-fluid">
        <label for="email">Email</label>
        <input id="email" pInputText formControlName="email" placeholder="{{'email_field_placeholder' | translate}}" />
        @if (updateContactForm.get('email')?.invalid && updateContactForm.get('email')?.touched) {
            <p-message severity="error" text="{{'email_field_invalid' | translate}}"></p-message>
        }
    </div>
    <div class="p-field p-fluid">
        <label for="numberPhone">{{'numberphone_field' | translate}}</label>
        <input id="numberPhone" pInputText formControlName="numberPhone" placeholder="{{'numberphone_field_placeholder' | translate}}" />
        @if (updateContactForm.get('numberPhone')?.invalid && updateContactForm.get('numberPhone')?.touched) {
            <p-message severity="error" text="{{'numberphone_field_required' | translate}}"></p-message>
        }
    </div>
    <div class="p-field p-fluid">
        <input type="file" (change)="onFileSelect($event)" class="custom-file-input"/>
    </div>
    <input type="hidden" id="id" formControlName="id" value="{{(contact$ | async)?.id}}" />
    <input type="hidden" id="userId" formControlName="userId" value=""/>
    <div class="update-button">
        <button pButton label="{{'save_button' | translate}}" type="submit" class="p-button" [disabled]="updateContactForm.invalid"></button>
    </div>
</form>