.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 2rem;
}
  
.user-fullname {
    font-size: 1.5rem;
    cursor: pointer;
}

